.cta {
  max-width: 34.3rem;
  margin: 0 auto 2.4rem auto;
  border-radius: 1rem;
  background-color: $color-black;
  padding: 4.9rem 2.4rem;

  @include respond(tablet) {
    padding: 5.6rem 7.5rem 6.4rem;
    margin-bottom: 2.2rem;
    max-width: 69rem;
  }
  @include respond(desktop) {
    max-width: 111rem;
    height: 32rem;
    paddiing: 8rem 9.5rem 8rem 6.5rem;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr min-content;
    place-content: center;
  }
  &__headline {
    color: $color-white;
    margin-bottom: 2.4rem;

    @include respond(tablet) {
      margin-bottom: 2.6rem;
    }
    @include respond(tablet) {
      margin-bottom: 2.5rem;
    }
  }
  &__text {
    color: $color-white;
    margin-bottom: 2.4rem;

    @include respond(tablet) {
      margin-bottom: 2.6rem;
    }

    @include respond(desktop) {
      padding-right: 18rem;
      margin-bottom: 0;
    }
  }
  &__btn {
    background-color: $color-red;

    &:hover {
      background-color: $color-orange;
    }

    @include respond(desktop) {
      justify-self: end;
      align-self: center;
    }
  }
}
